<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>t</title>
</head>
<body>
  <div class="full_page" style="background-color: black; background-image: url('./assets/images/minecraft-wallpaper2.jpg')">

  </div>
  <div class="full_page" style="background-color: wheat">
    <div style="height: 1000px; background-color: blue;"></div>
    <div style="height: 1000px; background-color: blue;"></div>
  </div>
</body>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    width: 100%;
  }
  .full_page {
    height: 100%;
    width: 100%;
  }
</style>
<script>
  // <div class="full_page page_image_container">
  //   <v-row class="full_page">
  //   <v-col md="12" xl="12" class="pb-3" align-self="end">
  //   <div class="my-4 page_image_text display-4 white--text font-weight-black">
  //   <span class="blue--text lighten-2">M</span>
  //   <span>inecraft</span>
  //   </div>
  //   <div class="page_image_text cyan--text darken-1 text-h5">Precious Memories</div>
  // </v-col>
  // <v-col align-self="end">
  //   <div class="page_image_text">
  //   <v-icon class="display-2 white--text">mdi-arrow-collapse-down</v-icon>
  //   </div>
  //   </v-col>
  //   </v-row>
  //   </div>
  //   <div class="cyan lighten-2">
  //   <v-row justify="center" >
  //   <v-col md="12" class="ma-0 pa-0" align-self="center">
  //   <div class="display-2 cyan--text text--accent-2 page_image_text font-weight-medium">Vuecraft Project</div>
  // </v-col>
  // <v-col md="12" class="ma-0 pa-0" v-for="i in 3" style="height: 100px">
  //   <v-row no-gutters justify="center">
  //   <v-col md="9">
  //   <p class="text-h5 cyan--text text--darken-1">Lorem ipsum</p>
  // <p class="white--text lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //   Cras pulvinar risus quis mauris interdum, in euismod
  // nibh pretium. Etiam pulvinar tincidunt dapibus. Quisque
  // sollicitudin, mauris a consequat consectetur, turpis
  // nisl sollicitudin enim, id consectetur neque neque nec
  // metus. Pellentesque dolor nisi, vulputate quis lobortis
  // ac, tincidunt et quam. Mauris pulvinar blandit nisi nec
  // mattis. Aliquam accumsan ut sem eget efficitur. Vivamus
  // in tortor gravida eros laoreet condimentum nec vel dui.
  //   Nullam quam massa, ultrices eget tincidunt a, pulvinar
  // ac libero.</p>
  // </v-col>
  // </v-row>
  // </v-col>
  // </v-row>
  // </div>
  // <div style="height: 900px">
  //   <v-row justify="center">
  //   <v-col md="12">
  //   <p class="text-h2 text-center">Hello</p>
  //   </v-col>
  //   <v-col md="4" v-for="item in info" align-self="start">
  //   <v-card height="600">
  //   <v-img :src="item.image" height="300">
  //   <div class="ma-5 text-h4 white--text">{{ item.title }}</div>
  // </v-img>
  // <v-card-title>{{ item.title }}</v-card-title>
  // <v-card-text class="headline">
  //   {{ item.text }}
  // </v-card-text>
  // </v-card>
  // </v-col>
  // </v-row>
  // </div>
</script>
</html>
